.modal-title {
  color: #00407b;
  font-weight: bold;
}

.modal-header {
  color: #000 !important;
  margin-top: -24px !important;
  width: calc(100% + 48px);
  margin-left: -24px;
  margin-bottom: 24px;
}

.modal-actions {
  text-align: right;
}

.modal-actions>button {
  display: inline-block;
}
