.orders-container {
  display: grid;
  /*max-width: 800px;*/
  margin: 0 auto;
  height: 100%;
}

.orders-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
  min-width: 1000px;
  max-width: 1000px;
  grid-template-rows: auto;
  justify-self: center;
  align-self: center;
}

.action-bar {
  position: relative;
  background-color: #863fb5;
}

.no-items {
  align-self: center;
  justify-self: center;
}

.action-bar>.align-right {
  position: absolute;
  right: 20px;
}

.align-right>button {
  margin-right: 10px;
}

.table-grid,
.name-input-container {
  padding-bottom: 10px;
}

.table-grid {
  display: grid;
  overflow: auto;
  max-height: 420px;
  min-height: 420px;
}

.name-input-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: end;
}

.input-label {
  justify-self: right;
  padding-right: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.action-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em;
  align-self: start;
}
.item-image {
  width: 150px;
  background-size:cover;
}