.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr;
  height: 100%;
  margin: 0 auto;
  max-width: 800px;
}

.greeting {
  align-self: center;
  justify-self: center;
}

.greeting>span,
.output-details>p {
  font-size: 1.5em;
  font-weight: bold;
  color: rgba(0, 0, 0, .87);
}

.output-box {
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: 5px;
  border: 1px solid #CCC;
  margin-bottom: 30%;
}

.txt-invoice {
  color: #3f51b5;
  font-weight: bold;
  font-size: 1.5em;
  padding: 0px 0px 1em 0px
}

.output-details {
  display: grid;
  grid-template-rows: 1fr 6fr;
}
