<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" class="main-nav">
  <button mat-raised-button [routerLink]="['/orders']" routerLinkActive="active">Orders</button>
  <button mat-raised-button (click)="showHelpText()">Help</button>
</mat-toolbar>
<div class="main-grid">
  <div class="left-sidebar"></div>
  <router-outlet class="outlet"></router-outlet>
  <div class="right-sidebar"></div>
</div>
<app-flex-modal #flex1
  [transition]="'slide-in-right'"
  [modalStyle]="{'border':'5px solid #CCC'}"
  [showToolbar]="true"
  [showDefaultAction]="false"
  [modalID]="'about-modal'"
  [width]="'815px'"
  [height]="'auto'">
  <span class="modal-title">Information</span>
  <div class="modal-content">
    <h3>{{aboutText}}</h3>
  </div>
  <div class="modal-action">
      <button mat-raised-button color="primary" (click)="flex1.modal.cancel()">Close</button>
  </div>
</app-flex-modal>
