/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body,
app-root {
  height: 100vh;
  background-color: #f1f1f1;
}

.outlet {
  display: none;
}


.active {
  background-color: #3f51b5;
  color: #FFF;
}


/* table styles */
table {
  table-layout: fixed;
  /* overflow: hidden; */
}

table th tr {
  font-weight: bold;
}

table tr td {
  height: 59px;
  min-height: 59px;
  border: 1px solid #CCC;
  padding: 1em;
}

/* modal overrides */
.modal-content {
  border: none !important;
}
